@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/ProximaNova/ProximaNova-Reg.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/ProximaNova/ProximaNova-RegIt.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/ProximaNova/ProximaNova-Light.otf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/ProximaNova/ProximaNova-LightIt.otf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/ProximaNova/ProximaNova-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/ProximaNova/ProximaNova-BoldIt.otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/ProximaNova/ProximaNova-Thin.otf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova';
    src: url('../fonts/ProximaNova/ProximaNova-ThinIt.otf');
    font-weight: lighter;
    font-style: italic;
}


