table, tr, td, th {
    border: none !important;
    border-collapse: collapse !important;
    margin: auto !important;
}

td {
    width: auto !important;
    vertical-align: top!important;
}