@import "./mixins.less";

@classicSectionBackground: white;
@alternativeSectionBackground: rgba(241, 242, 246, 0.50);
@mainTextColor: #465065;
@proximaNovaThin : 'ProximaNova-Thin', Arial, sans-serif;
@proximaNovaLight : 'ProximaNova-Light', Arial, sans-serif;
@proximaNovaRegular : 'ProximaNova-Regular', Arial, sans-serif;
@proximaNovaSemibold : 'ProximaNova-Semibold', Arial, sans-serif;
@proximaNovaBold : 'ProximaNova-Bold', Arial, sans-serif;
@odinBold: 'Odin-Bold', Arial, sans-serif;
ul, ul li {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

table, tr, td, th {
  border: none !important;
  border-collapse: collapse !important;
  margin: auto !important;
}

td {
  width: auto !important;
  vertical-align: top !important;
}

.unselectable {
  user-select: none;
  user-focus: none;
}

.clickable {
  cursor: pointer;
}

/**
 * Custom Virag
 */
.cont {
  position: relative;
}

time {
  display: block;
  padding-bottom: 20px;
  font-weight: bold;
}

.centerLine {
  background-color: rgba(69, 80, 101, 0.60);
  width: 571px;
  height: 1px;
  margin: 38px auto;
}

.transformCenter {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.wrap {
  min-width: 0;
  max-width: 100%;
  width: 75%;
  margin: 0 auto;
}

.topText {
  position: absolute;
  top: 20px;
  left: 50%;

  transform: translate(-50%, 0);
  margin: 30px auto auto auto;
  display: block;
  font-family: @proximaNovaThin;

  font-size: 25px;
  color: @mainTextColor;
  letter-spacing: 2.5px;
  line-height: 35px;
  text-align: center;
}

.topText > div {
  text-align: center;
  font-size: 3vw;
  line-height: 4vw;
}

.topText .bold {
  font-weight: bold;
}

.buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  display: flex;
  .flex-direction(row);
  .flex-wrap(wrap);
  .justify-content(center);
  .align-content(flex-end);
  .align-items(center);
}

.button {
  position: relative;
  display: inline-block;
  padding: 13px;
  margin: 7px;
  font-family: @proximaNovaSemibold;
  font-size: 17px;
  letter-spacing: 1.7px;
  line-height: 21px;
  text-align: center;
}

.pre-icon {
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center left;
  }
}

.button.pre-icon_call {
  .pre-icon;
  padding-left: 42px;
  &:before {
    top: 19px;
    left: 19px;
    height: 13px;
    width: 14px;
    background-image: url('../img/Telephone.png');
    background-size: 13px;
  }
}

.button.pre-icon_calendar {
  .pre-icon;
  padding-left: 40px;
  &:before {
    top: 16px;
    left: 19px;
    height: 16px;
    width: 16px;
    background-image: url('../img/Calendar.png');
    background-size: 16px;
  }
}

.button_white {
  text-decoration: none;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  color: #FFFFFF;

  background: rgba(194, 199, 205, 0.80);
}

.button_grey {
  border: 2px solid rgba(70, 80, 101, 0.30);
  border-radius: 40px;
  width: 265px;
  height: 50px;

  font-size: 17px;
  color: rgba(69, 80, 101, 0.60);
  letter-spacing: 1.7px;
  line-height: 21px;
}

#top {
  .flex-display(flex);
  .flex-direction(row);
  .flex-wrap(wrap);
  .justify-content(space-between);
}

.logo, .logo a {
  display: inline-block;
}

.logo img {
  width: 60px;
}

.logo {
  float: none;
  .logo-img {
    position: relative;
    top: -3px;
    display: inline-block;
    vertical-align: top;
  }
  .headline {
    position: relative;
    top: -3px;
    display: inline-block;
    margin: auto;
    margin-left: 30px;

    font-family: @proximaNovaLight;
    font-size: 13px;
    color: @mainTextColor;
    letter-spacing: 1px;
    line-height: 18px;
    text-align: left;

  }
  .underHeadline {
    color: black;
    font-size: inherit;
    line-height: inherit;
  }
}

nav {
  display: inline-block;
  vertical-align: middle;

  ul {
    li {
      display: inline-block;
      margin: 12px;
      a {
        font-family: @proximaNovaRegular;
        font-size: 15px;
        color: rgba(69, 80, 101, 0.60);
        letter-spacing: 1.5px;
        line-height: 18px;
      }
    }
  }
}

.bigText {
  margin: 57px auto 45px auto;
  background-color: @classicSectionBackground;
  ul, li {
    .bigTitleTextRules;
  }
}

.listOfPostsContainer {
  margin: 42px auto 0 auto;
  width: 70%;
  background-color: @classicSectionBackground;
  max-width: 670px;
  @media (max-width: 670px) {
    width: 90%;
  }

  .flex-display(flex);
  .flex-wrap(nowrap);
  .flex-direction(row);
  .justify-content(center);
  .align-items(flex-start);
  .align-content(center);
}

.listOfPosts {
  margin: 0 29px 0 29px;
  .columnTextRules;
  ul {
    margin: 10px 0;
  }
}

.colTitle {
  margin-bottom: 15px;
}

.listTitle {
  text-transform: uppercase;
  margin-bottom: 10px;

}

.bio {
  margin: 104px auto 0 auto;
  padding: 0 97px 0 0;
  background-color: @alternativeSectionBackground;
  .bioImgCol {

  }
  .bioTextCol {
    padding-left: 60px;
    padding-right: 60px;
  }
  .mainBio {
    .semiTitleTextRules;
    margin: 38px 0 19px 0;
  }
  .bioContent {
    .columnTextRules;
  }
  .bioPicture {
    padding-top: 53px;
    img {
      display: block;
      width: 39%;
      margin: 0 0 0 auto;
      min-width: 260px;
    }
  }
}

.date {
  .smallSectionTitleTextRules;
}

.lastPost {
  width: 100%;
  background-color: @alternativeSectionBackground;
  padding: 53px 0 53px 0;
  .inner {
    .responsiveWidth(416px);
    margin: auto;
  }

  .title {
    .postTitleTextRules;
  }
  .picture {
    margin: 21px auto 21px auto;
    img {
      display: block;
      margin: auto;
      padding: 10px;
      width: 100%;
    }
  }
}

.lastPublications {
  width: 100%;
  padding-top: 53px;
  .inner {
    .responsiveWidth(700px);
    margin: auto;
  }
  .publication {
    .responsiveWidth(200px);
    margin: 0 25px;
    padding: 0;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    .picture {
      margin: 19px auto;
      img {
        display: block;
        width: auto;
        margin: auto;
        height: 100px;
      }
    }
    .title {
      .columnTextRules;
      text-align: center;
      letter-spacing: 2px;

      margin: 0 auto 24px auto;
    }
    .description {
      .columnTextRules;
    }
  }
  .link {
    &, &:hover {
      text-align: center;
    }
  }
}

.linkContainer {
  display: block;
  margin: auto;
  padding: 0;
  .link {
    text-align: center;
  }
}

.link {
  &:not(.inline-link) {
    display: block;
  }
  margin: 35px 0 66px 0;
  &, &:hover, &:before, &:before:hover {
    .linkTextRules;
  }
}

.inline-link {
  display: inline;
}

.hidden-link {
  &, &:hover, &:before, &:before:hover {
    color: @mainTextColor;
  }
}

.pre-chevron {
  &:before {
    content: '>';
    margin: 0 10px 0 0;
    font-weight: 900;
  }
}

.team {
  margin: 0 auto 75px auto;
  .title {
    padding-top: 63px;
    .smallSectionTitleTextRules;
  }
  .row {
    margin: 0;
  }
  .peopleDesc {
    padding: 20px 70px;
  }
  .job {
    .columnTextRules;
    text-align: center;
  }
  .people {
    font-family: @proximaNovaBold;
    font-size: 19.55px;
    color: @mainTextColor;
    letter-spacing: 2.54px;
    line-height: 27px;
    text-align: center;
  }
}

.bookContainer {
  .bookRow {
    .flex-display(flex);
    .flex-direction(row);
    .flex-wrap(wrap);
    .justify-content(center);
    .align-items(stretch);
    .align-content(stretch);
  }
  .book {
    display: block;
    width: 200px;
    margin: 0 50px 60px 50px;
    .bookImg {
      display: block;
      margin: auto;
      height: 120px;
      width: auto;
    }
    .bookTitle {
      margin: 24px auto 10px auto;
      text-align: center;

      font-family: @proximaNovaLight;
      font-size: 13px;
      color: @mainTextColor;
      letter-spacing: 2px;
      line-height: 20px;
      text-transform: uppercase;
    }
  }
}

.publicationContainer {

  .flex-display(flex);
  .flex-direction(row);
  .flex-wrap(wrap);
  .justify-content(center);
  .align-items(flex-start);
  .align-content(center);
  margin: 20px 180px;

  .publicationCol {
    margin: 50px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    .flex-grow(1);
    .flex-shrink(0);
    .flex-basis(283px;)
  }
  .publicationColTitle {
    .postTitleTextRules;
    font-size: 32px;
  }
  .publication {
    margin: 58px 5px 0 5px;
    .date {
      .articleDateRules;
      height: 27px;
    }
    .text {
      .semiTitleTextRules;
    }
  }
}

.dropdown {
  position: relative;
  margin: 34px 0;
  &:first-child {
    margin-top: 60px;
  }
  .publication {
    margin: 0 0 40px 0;
  }
  .title {
    .semiTitleTextRules;
    .unselectable;
    .clickable;
  }
  .dropdown-drop {
    position: relative;
    padding-left: 25px;
    &:before {
      @chevronWidth: 10px;
      content: '';
      position: absolute;
      top: 18px;
      left: 0;
      transform-origin: center center;
      transform: translateY(-50%) rotate(0deg);
      display: inline-block;
      width: @chevronWidth;
      height: 20px;
      background-image: url('../img/Chevron.png');
      background-size: 6px 9px;
      background-repeat: no-repeat;
    }
  }
  &.active .dropdown-drop {
    &:before {
      top: 10px;
      left: -3px;
      transform: translateY(-50%) rotate(90deg);
    }
  }
  .dropdown-content {
    height: 0;
    overflow: hidden;
    transition: height .5s ease;
  }
  &.active .dropdown-content {
    height: auto;
  }
}

/**
*  Pagination
*/
.paginationContainer {

  .pagination {
    display: block;
    margin: auto;
    .flex-display(flex);
    .flex-direction(row);
    .flex-wrap(wrap);
    .justify-content(center);
    .align-items(center);
    .align-content(center);
  }
  a {
    display: inline-block;
    margin: 0 8px;
    font-family: @proximaNovaLight;
    font-size: 17px;
    color: @mainTextColor;
    letter-spacing: 1.7px;
    line-height: 25px;
    text-align: center;
  }
  a.prevNext {
    font-size: 13px;
    letter-spacing: 1.29px;
  }
  a.active {
    font-family: @proximaNovaSemibold;
    font-weight: bold;
  }
}

/**
 *   Footer
 */
#bottom {
  clear: both;
  background-color: @mainTextColor;
  padding: 30px 0 40px;
}

#bottom > ul {
  .flex-display(flex);
  .flex-direction(row);
  .justify-content(center);
  .flex-wrap(wrap);
  .align-content(center);
  .align-items(stretch);

  padding-bottom: 20px;
}

#bottom .row {
  display: inline-block;
  vertical-align: top;
  margin: 10px 40px;
}

#bottom .row li {
  display: block;
  text-align: left;
}

#bottom .row li a {
  display: block;
  .footerLink;
}

.mapContact {
  clear: both;
  background-color: @alternativeSectionBackground;
  .inner {
    .responsiveWidth(700px);
    padding-top: 61px;
    padding-bottom: 56px;
    margin: 0 auto 0 auto;
  }
  .mapPicture {
    margin: 0 70px 0 5px;
    img {
      .responsiveWidth(223px);
    }
  }
  .contactInformations {
    .columnTextRules;
    margin: 30px 5px 15px 0;
    .address {

    }
    .town {

    }
    .tel {

    }
    .mail {

    }
  }
}

.pageTitle {
  .bigTitleTextRules;
}

.summary {
  margin-top: 80px;
  margin-bottom: 75px;
  .summary-col-title {
    font-family: @proximaNovaSemibold;
    font-size: 13px;
    color: @mainTextColor;
    letter-spacing: 2px;
    line-height: 20px;
    text-align: left;
  }
  .summary-link {
    .summaryLinkTextRules;
    text-transform: uppercase;
    display: block;
    margin: 40px 0;
  }
}

.articleContainer {
  h1 {
    .articleTitleTextRules;
  }
  article {
    .articleTextRules;
  }
  .date {
    .articleDateRules;
  }
  &.preview {
    img {
      width: 90%;
      display: block;
      margin: auto;
    }
    h1 {
      margin-top: 0;
      padding-top: 0;
    }
    article {
      width: 80%;
      display: block;
      margin: auto;
    }
    .date {
      margin: auto;
      text-align: center;
    }
    .content {
      padding-bottom: 0;
    }

  }
}

/**
 *  MAIN RULES MIXINS
 */

.bigTitleTextRules {
  font-family: @proximaNovaLight;
  font-size: 37px;
  color: @mainTextColor;
  letter-spacing: 3px;
  line-height: 50px;
  text-align: center;
}

.postTitleTextRules {
  font-family: @proximaNovaLight;
  font-size: 25px;
  color: @mainTextColor;
  letter-spacing: 2.5px;
  line-height: 33px;
  text-align: center;
}

.semiTitleTextRules {
  //A short summary, a content before the real content
  font-family: @proximaNovaLight;
  font-size: 19px;
  color: @mainTextColor;
  letter-spacing: 1.7px;
  line-height: 25px;
  text-align: left;
}

.articleTitleTextRules {
  .bigTitleTextRules;
}

.articleTextRules {
  .semiTitleTextRules;
  line-height: 30px;
}

.articleAuthorTextRules {
  .articleDateRules;
}

.articleDateRules {
  font-family: @proximaNovaRegular;
  font-size: 13px;
  color: @mainTextColor;
  letter-spacing: 1.29px;
  line-height: 27px;
  text-align: left;
}

.linkTextRules {
  font-family: @proximaNovaSemibold;
  font-size: 15px;
  color: @mainTextColor;
  letter-spacing: 1px;
  line-height: 20px;
  text-decoration: none;
}

.columnTextRules {
  font-family: @proximaNovaLight;
  font-size: 15px;
  line-height: 23px;
  color: @mainTextColor;
  text-align: left;
  text-decoration: none;
  letter-spacing: 1px;
}

.footerLink {
  .columnTextRules;
  color: rgba(255, 255, 255, 0.50);
}

.smallSectionTitleTextRules {
  font-family: @proximaNovaRegular;
  font-size: 15px;
  color: @mainTextColor;
  letter-spacing: 1.29px;
  line-height: 27px;
  text-align: center;
}

.summaryLinkTextRules {
  font-family: @proximaNovaLight;
  font-size: 16px;
  line-height: 27px;
  color: @mainTextColor;
  letter-spacing: 2px;
  text-align: left;
}